body {
  background: #242b38;
}

.gatete {
  margin: 0 auto;
  padding: 0;
  position: static;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 110px;
  height: 70px;
  animation: catMove 9s infinite;

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 10px;
    height: 10px;
    animation: catwalk 1s steps(4) infinite;
  }
}

@keyframes catMove {
  0% {
    transform: translateX(-400%);
  }

  100% {
    transform: translateX(400%);
  }
}

@keyframes catwalk {
  0% {
    box-shadow: 10px 10px transparent, 20px 10px transparent, 30px 10px #5f1405,
      40px 10px #5f1405, 50px 10px transparent, 60px 10px transparent,
      70px 10px transparent, 80px 10px transparent, 90px 10px transparent,
      100px 10px transparent, 110px 10px transparent, 120px 10px transparent,
      130px 10px transparent, 140px 10px transparent, 150px 10px transparent,
      160px 10px transparent, 170px 10px transparent, 180px 10px transparent,
      190px 10px transparent, 200px 10px transparent, 210px 10px transparent,
      10px 20px transparent, 20px 20px #5f1405, 30px 20px #fd9132,
      40px 20px #fee085, 50px 20px #5f1405, 60px 20px transparent,
      70px 20px transparent, 80px 20px transparent, 90px 20px transparent,
      100px 20px transparent, 110px 20px transparent, 120px 20px transparent,
      130px 20px transparent, 140px 20px transparent, 150px 20px transparent,
      160px 20px transparent, 170px 20px #5f1405, 180px 20px #5f1405,
      190px 20px transparent, 200px 20px transparent, 210px 20px transparent,
      10px 30px #5f1405, 20px 30px #fee085, 30px 30px #d14835, 40px 30px #5f1405,
      50px 30px #5f1405, 60px 30px transparent, 70px 30px transparent,
      80px 30px transparent, 90px 30px transparent, 100px 30px transparent,
      110px 30px transparent, 120px 30px #5f1405, 130px 30px #5f1405,
      140px 30px transparent, 150px 30px transparent, 160px 30px #5f1405,
      170px 30px #fee085, 180px 30px #5f1405, 190px 30px transparent,
      200px 30px transparent, 210px 30px transparent, 10px 40px #5f1405,
      20px 40px #fd9132, 30px 40px #5f1405, 40px 40px transparent,
      50px 40px transparent, 60px 40px transparent, 70px 40px transparent,
      80px 40px transparent, 90px 40px transparent, 100px 40px transparent,
      110px 40px transparent, 120px 40px #5f1405, 130px 40px #fee085,
      140px 40px #5f1405, 150px 40px transparent, 160px 40px #5f1405,
      170px 40px #fd9132, 180px 40px #5f1405, 190px 40px transparent,
      200px 40px transparent, 210px 40px transparent, 10px 50px #5f1405,
      20px 50px #fee085, 30px 50px #5f1405, 40px 50px transparent,
      50px 50px transparent, 60px 50px transparent, 70px 50px transparent,
      80px 50px transparent, 90px 50px transparent, 100px 50px transparent,
      110px 50px transparent, 120px 50px #5f1405, 130px 50px #fee085,
      140px 50px #5f1405, 150px 50px #5f1405, 160px 50px #d14835,
      170px 50px #d14835, 180px 50px #5f1405, 190px 50px transparent,
      200px 50px transparent, 210px 50px transparent, 10px 60px #5f1405,
      20px 60px #fd9132, 30px 60px #5f1405, 40px 60px transparent,
      50px 60px transparent, 60px 60px transparent, 70px 60px transparent,
      80px 60px transparent, 90px 60px transparent, 100px 60px transparent,
      110px 60px transparent, 120px 60px #5f1405, 130px 60px #fd9132,
      140px 60px #d14835, 150px 60px #fd9132, 160px 60px #fd9132,
      170px 60px #fd9132, 180px 60px #5f1405, 190px 60px transparent,
      200px 60px transparent, 210px 60px transparent, 10px 70px #5f1405,
      20px 70px #fee085, 30px 70px #d14835, 40px 70px #5f1405,
      50px 70px transparent, 60px 70px transparent, 70px 70px transparent,
      80px 70px transparent, 90px 70px transparent, 100px 70px transparent,
      110px 70px transparent, 120px 70px #5f1405, 130px 70px #d14835,
      140px 70px #fd9132, 150px 70px #fd9132, 160px 70px #d14835,
      170px 70px #fd9132, 180px 70px #d14835, 190px 70px #5f1405,
      200px 70px #5f1405, 210px 70px transparent, 10px 80px #5f1405,
      20px 80px #d14835, 30px 80px #fd9132, 40px 80px #d14835, 50px 80px #5f1405,
      60px 80px #5f1405, 70px 80px #5f1405, 80px 80px #5f1405, 90px 80px #5f1405,
      100px 80px #5f1405, 110px 80px #5f1405, 120px 80px #d14835,
      130px 80px #fd9132, 140px 80px #fd9132, 150px 80px #fd9132,
      160px 80px #5f1405, 170px 80px #fd9132, 180px 80px #5f1405,
      190px 80px #fd9132, 200px 80px #5f1405, 210px 80px #5f1405,
      10px 90px transparent, 20px 90px #5f1405, 30px 90px #d14835,
      40px 90px #fd9132, 50px 90px #fd9132, 60px 90px #d14835, 70px 90px #fd9132,
      80px 90px #d14835, 90px 90px #fd9132, 100px 90px #d14835,
      110px 90px #5f1405, 120px 90px #d14835, 130px 90px #fd9132,
      140px 90px #fd9132, 150px 90px #d14835, 160px 90px #5f1405,
      170px 90px #fd9132, 180px 90px #5f1405, 190px 90px #d14835,
      200px 90px #5f1405, 210px 90px transparent, 10px 100px transparent,
      20px 100px transparent, 30px 100px #5f1405, 40px 100px #d14835,
      50px 100px #fd9132, 60px 100px #d14835, 70px 100px #fd9132,
      80px 100px #d14835, 90px 100px #fd9132, 100px 100px #5f1405,
      110px 100px #5f1405, 120px 100px #d14835, 130px 100px #fd9132,
      140px 100px #fd9132, 150px 100px #fd9132, 160px 100px #fee085,
      170px 100px #d14835, 180px 100px #fee085, 190px 100px #fd9132,
      200px 100px #5f1405, 210px 100px #5f1405, 10px 110px transparent,
      20px 110px transparent, 30px 110px transparent, 40px 110px #5f1405,
      50px 110px #fd9132, 60px 110px #fd9132, 70px 110px #fd9132,
      80px 110px #fd9132, 90px 110px #fd9132, 100px 110px #fd9132,
      110px 110px #d14835, 120px 110px #5f1405, 130px 110px #d14835,
      140px 110px #fd9132, 150px 110px #fee085, 160px 110px #fee085,
      170px 110px #fd9132, 180px 110px #fee085, 190px 110px #fee085,
      200px 110px #5f1405, 210px 110px transparent, 10px 120px transparent,
      20px 120px transparent, 30px 120px transparent, 40px 120px #5f1405,
      50px 120px #fd9132, 60px 120px #d14835, 70px 120px #fd9132,
      80px 120px #fd9132, 90px 120px #fd9132, 100px 120px #fd9132,
      110px 120px #fd9132, 120px 120px #fd9132, 130px 120px #fd9132,
      140px 120px #d14835, 150px 120px #5f1405, 160px 120px #5f1405,
      170px 120px #5f1405, 180px 120px #5f1405, 190px 120px #5f1405,
      200px 120px transparent, 210px 120px transparent, 10px 130px transparent,
      20px 130px transparent, 30px 130px transparent, 40px 130px #5f1405,
      50px 130px #fd9132, 60px 130px #d14835, 70px 130px #d14835,
      80px 130px #d14835, 90px 130px #d14835, 100px 130px #d14835,
      110px 130px #fd9132, 120px 130px #fd9132, 130px 130px #d14835,
      140px 130px #5f1405, 150px 130px #5f1405, 160px 130px transparent,
      170px 130px transparent, 180px 130px transparent, 190px 130px transparent,
      200px 130px transparent, 210px 130px transparent, 10px 140px transparent,
      20px 140px transparent, 30px 140px transparent, 40px 140px #5f1405,
      50px 140px #fee085, 60px 140px #5f1405, 70px 140px #5f1405,
      80px 140px #5f1405, 90px 140px #5f1405, 100px 140px #5f1405,
      110px 140px #d14835, 120px 140px #fd9132, 130px 140px #5f1405,
      140px 140px #d14835, 150px 140px #5f1405, 160px 140px transparent,
      170px 140px transparent, 180px 140px transparent, 190px 140px transparent,
      200px 140px transparent, 210px 140px transparent, 10px 150px transparent,
      20px 150px transparent, 30px 150px transparent, 40px 150px #5f1405,
      50px 150px #fee085, 60px 150px #5f1405, 70px 150px #d14835,
      80px 150px #5f1405, 90px 150px transparent, 100px 150px transparent,
      110px 150px #5f1405, 120px 150px #fd9132, 130px 150px #5f1405,
      140px 150px #fee085, 150px 150px #5f1405, 160px 150px transparent,
      170px 150px transparent, 180px 150px transparent, 190px 150px transparent,
      200px 150px transparent, 210px 150px transparent, 10px 160px transparent,
      20px 160px transparent, 30px 160px transparent, 40px 160px #5f1405,
      50px 160px #fd9132, 60px 160px #fee085, 70px 160px #5f1405,
      80px 160px #5f1405, 90px 160px transparent, 100px 160px transparent,
      110px 160px #5f1405, 120px 160px #fee085, 130px 160px #5f1405,
      140px 160px #5f1405, 150px 160px transparent, 160px 160px transparent,
      170px 160px transparent, 180px 160px transparent, 190px 160px transparent,
      200px 160px transparent, 210px 160px transparent, 10px 170px transparent,
      20px 170px transparent, 30px 170px transparent, 40px 170px transparent,
      50px 170px #5f1405, 60px 170px #5f1405, 70px 170px #5f1405,
      80px 170px transparent, 90px 170px transparent, 100px 170px transparent,
      110px 170px transparent, 120px 170px #5f1405, 130px 170px #5f1405,
      140px 170px transparent, 150px 170px transparent, 160px 170px transparent,
      170px 170px transparent, 180px 170px transparent, 190px 170px transparent,
      200px 170px transparent, 210px 170px transparent;
  }

  25% {
    box-shadow: 10px 10px transparent, 20px 10px transparent, 30px 10px #5f1405,
      40px 10px #5f1405, 50px 10px transparent, 60px 10px transparent,
      70px 10px transparent, 80px 10px transparent, 90px 10px transparent,
      100px 10px transparent, 110px 10px transparent, 120px 10px transparent,
      130px 10px transparent, 140px 10px transparent, 150px 10px transparent,
      160px 10px transparent, 170px 10px transparent, 180px 10px transparent,
      190px 10px transparent, 200px 10px transparent, 210px 10px transparent,
      10px 20px transparent, 20px 20px #5f1405, 30px 20px #fd9132,
      40px 20px #fee085, 50px 20px #5f1405, 60px 20px transparent,
      70px 20px transparent, 80px 20px transparent, 90px 20px transparent,
      100px 20px transparent, 110px 20px transparent, 120px 20px transparent,
      130px 20px transparent, 140px 20px transparent, 150px 20px transparent,
      160px 20px transparent, 170px 20px #5f1405, 180px 20px #5f1405,
      190px 20px transparent, 200px 20px transparent, 210px 20px transparent,
      10px 30px #5f1405, 20px 30px #fee085, 30px 30px #d14835, 40px 30px #5f1405,
      50px 30px #5f1405, 60px 30px transparent, 70px 30px transparent,
      80px 30px transparent, 90px 30px transparent, 100px 30px transparent,
      110px 30px transparent, 120px 30px #5f1405, 130px 30px #5f1405,
      140px 30px transparent, 150px 30px transparent, 160px 30px #5f1405,
      170px 30px #fee085, 180px 30px #5f1405, 190px 30px transparent,
      200px 30px transparent, 210px 30px transparent, 10px 40px #5f1405,
      20px 40px #fd9132, 30px 40px #5f1405, 40px 40px transparent,
      50px 40px transparent, 60px 40px transparent, 70px 40px transparent,
      80px 40px transparent, 90px 40px transparent, 100px 40px transparent,
      110px 40px transparent, 120px 40px #5f1405, 130px 40px #fee085,
      140px 40px #5f1405, 150px 40px transparent, 160px 40px #5f1405,
      170px 40px #fd9132, 180px 40px #5f1405, 190px 40px transparent,
      200px 40px transparent, 210px 40px transparent, 10px 50px #5f1405,
      20px 50px #fee085, 30px 50px #5f1405, 40px 50px transparent,
      50px 50px transparent, 60px 50px transparent, 70px 50px transparent,
      80px 50px transparent, 90px 50px transparent, 100px 50px transparent,
      110px 50px transparent, 120px 50px #5f1405, 130px 50px #fee085,
      140px 50px #5f1405, 150px 50px #5f1405, 160px 50px #d14835,
      170px 50px #d14835, 180px 50px #5f1405, 190px 50px transparent,
      200px 50px transparent, 210px 50px transparent, 10px 60px #5f1405,
      20px 60px #fd9132, 30px 60px #5f1405, 40px 60px transparent,
      50px 60px transparent, 60px 60px transparent, 70px 60px transparent,
      80px 60px transparent, 90px 60px transparent, 100px 60px transparent,
      110px 60px transparent, 120px 60px #5f1405, 130px 60px #fd9132,
      140px 60px #d14835, 150px 60px #fd9132, 160px 60px #fd9132,
      170px 60px #fd9132, 180px 60px #5f1405, 190px 60px transparent,
      200px 60px transparent, 210px 60px transparent, 10px 70px #5f1405,
      20px 70px #fee085, 30px 70px #d14835, 40px 70px transparent,
      50px 70px transparent, 60px 70px transparent, 70px 70px transparent,
      80px 70px transparent, 90px 70px transparent, 100px 70px transparent,
      110px 70px transparent, 120px 70px #5f1405, 130px 70px #d14835,
      140px 70px #fd9132, 150px 70px #fd9132, 160px 70px #d14835,
      170px 70px #fd9132, 180px 70px #d14835, 190px 70px #5f1405,
      200px 70px #5f1405, 210px 70px transparent, 10px 80px #5f1405,
      20px 80px #d14835, 30px 80px #fd9132, 40px 80px #5f1405, 50px 80px #5f1405,
      60px 80px #5f1405, 70px 80px #5f1405, 80px 80px #5f1405, 90px 80px #5f1405,
      100px 80px #5f1405, 110px 80px #5f1405, 120px 80px #d14835,
      130px 80px #fd9132, 140px 80px #fd9132, 150px 80px #fd9132,
      160px 80px #5f1405, 170px 80px #fd9132, 180px 80px #5f1405,
      190px 80px #fd9132, 200px 80px #5f1405, 210px 80px #5f1405,
      10px 90px transparent, 20px 90px #5f1405, 30px 90px #d14835,
      40px 90px #fd9132, 50px 90px #fd9132, 60px 90px #d14835, 70px 90px #fd9132,
      80px 90px #d14835, 90px 90px #fd9132, 100px 90px #d14835,
      110px 90px #5f1405, 120px 90px #d14835, 130px 90px #fd9132,
      140px 90px #fd9132, 150px 90px #d14835, 160px 90px #5f1405,
      170px 90px #fd9132, 180px 90px #5f1405, 190px 90px #d14835,
      200px 90px #5f1405, 210px 90px transparent, 10px 100px transparent,
      20px 100px transparent, 30px 100px #5f1405, 40px 100px #5f1405,
      50px 100px #fd9132, 60px 100px #d14835, 70px 100px #fd9132,
      80px 100px #d14835, 90px 100px #fd9132, 100px 100px #5f1405,
      110px 100px #5f1405, 120px 100px #d14835, 130px 100px #fd9132,
      140px 100px #fd9132, 150px 100px #fd9132, 160px 100px #fee085,
      170px 100px #d14835, 180px 100px #fee085, 190px 100px #fd9132,
      200px 100px #5f1405, 210px 100px #5f1405, 10px 110px transparent,
      20px 110px transparent, 30px 110px transparent, 40px 110px #5f1405,
      50px 110px #fd9132, 60px 110px #fd9132, 70px 110px #fd9132,
      80px 110px #fd9132, 90px 110px #fd9132, 100px 110px #fd9132,
      110px 110px #d14835, 120px 110px #5f1405, 130px 110px #d14835,
      140px 110px #fd9132, 150px 110px #fee085, 160px 110px #fee085,
      170px 110px #fd9132, 180px 110px #fee085, 190px 110px #fee085,
      200px 110px #5f1405, 210px 110px transparent, 10px 120px transparent,
      20px 120px transparent, 30px 120px transparent, 40px 120px #5f1405,
      50px 120px #fd9132, 60px 120px #d14835, 70px 120px #fd9132,
      80px 120px #fd9132, 90px 120px #fd9132, 100px 120px #fd9132,
      110px 120px #fd9132, 120px 120px #fd9132, 130px 120px #fd9132,
      140px 120px #d14835, 150px 120px #5f1405, 160px 120px #5f1405,
      170px 120px #5f1405, 180px 120px #5f1405, 190px 120px #5f1405,
      200px 120px transparent, 210px 120px transparent, 10px 130px transparent,
      20px 130px transparent, 30px 130px transparent, 40px 130px #5f1405,
      50px 130px #fee085, 60px 130px #d14835, 70px 130px #d14835,
      80px 130px #d14835, 90px 130px #d14835, 100px 130px #d14835,
      110px 130px #fd9132, 120px 130px #fd9132, 130px 130px #d14835,
      140px 130px #5f1405, 150px 130px #5f1405, 160px 130px transparent,
      170px 130px transparent, 180px 130px transparent, 190px 130px transparent,
      200px 130px transparent, 210px 130px transparent, 10px 140px transparent,
      20px 140px transparent, 30px 140px #5f1405, 40px 140px #fd9132,
      50px 140px #fee085, 60px 140px #5f1405, 70px 140px #5f1405,
      80px 140px #5f1405, 90px 140px #5f1405, 100px 140px #5f1405,
      110px 140px #5f1405, 120px 140px #fd9132, 130px 140px #fd9132,
      140px 140px #5f1405, 150px 140px transparent, 160px 140px transparent,
      170px 140px transparent, 180px 140px transparent, 190px 140px transparent,
      200px 140px transparent, 210px 140px transparent, 10px 150px transparent,
      20px 150px transparent, 30px 150px #5f1405, 40px 150px #fee085,
      50px 150px #5f1405, 60px 150px transparent, 70px 150px transparent,
      80px 150px #5f1405, 90px 150px #5f1405, 100px 150px transparent,
      110px 150px #5f1405, 120px 150px #5f1405, 130px 150px #fee085,
      140px 150px #fee085, 150px 150px #5f1405, 160px 150px transparent,
      170px 150px transparent, 180px 150px transparent, 190px 150px transparent,
      200px 150px transparent, 210px 150px transparent, 10px 160px transparent,
      20px 160px transparent, 30px 160px transparent, 40px 160px #5f1405,
      50px 160px #5f1405, 60px 160px transparent, 70px 160px transparent,
      80px 160px transparent, 90px 160px transparent, 100px 160px transparent,
      110px 160px transparent, 120px 160px transparent, 130px 160px #5f1405,
      140px 160px #5f1405, 150px 160px #5f1405, 160px 160px transparent,
      170px 160px transparent, 180px 160px transparent, 190px 160px transparent,
      200px 160px transparent, 210px 160px transparent, 10px 170px transparent,
      20px 170px transparent, 30px 170px transparent, 40px 170px transparent,
      50px 170px transparent, 60px 170px transparent, 70px 170px transparent,
      80px 170px transparent, 90px 170px transparent, 100px 170px transparent,
      110px 170px transparent, 120px 170px transparent, 130px 170px transparent,
      140px 170px transparent, 150px 170px transparent, 160px 170px transparent,
      170px 170px transparent, 180px 170px transparent, 190px 170px transparent,
      200px 170px transparent, 210px 170px transparent;
  }

  50% {
    box-shadow: 10px 10px transparent, 20px 10px transparent, 30px 10px #5f1405,
      40px 10px #5f1405, 50px 10px transparent, 60px 10px transparent,
      70px 10px transparent, 80px 10px transparent, 90px 10px transparent,
      100px 10px transparent, 110px 10px transparent, 120px 10px transparent,
      130px 10px transparent, 140px 10px transparent, 150px 10px transparent,
      160px 10px transparent, 170px 10px transparent, 180px 10px transparent,
      190px 10px transparent, 200px 10px transparent, 210px 10px transparent,
      10px 20px transparent, 20px 20px #5f1405, 30px 20px #fd9132,
      40px 20px #fee085, 50px 20px #5f1405, 60px 20px transparent,
      70px 20px transparent, 80px 20px transparent, 90px 20px transparent,
      100px 20px transparent, 110px 20px transparent, 120px 20px transparent,
      130px 20px transparent, 140px 20px transparent, 150px 20px transparent,
      160px 20px transparent, 170px 20px #5f1405, 180px 20px #5f1405,
      190px 20px transparent, 200px 20px transparent, 210px 20px transparent,
      10px 30px #5f1405, 20px 30px #fee085, 30px 30px #d14835, 40px 30px #5f1405,
      50px 30px #5f1405, 60px 30px transparent, 70px 30px transparent,
      80px 30px transparent, 90px 30px transparent, 100px 30px transparent,
      110px 30px transparent, 120px 30px #5f1405, 130px 30px #5f1405,
      140px 30px transparent, 150px 30px transparent, 160px 30px #5f1405,
      170px 30px #fee085, 180px 30px #5f1405, 190px 30px transparent,
      200px 30px transparent, 210px 30px transparent, 10px 40px #5f1405,
      20px 40px #fd9132, 30px 40px #5f1405, 40px 40px transparent,
      50px 40px transparent, 60px 40px transparent, 70px 40px transparent,
      80px 40px transparent, 90px 40px transparent, 100px 40px transparent,
      110px 40px transparent, 120px 40px #5f1405, 130px 40px #fee085,
      140px 40px #5f1405, 150px 40px transparent, 160px 40px #5f1405,
      170px 40px #fd9132, 180px 40px #5f1405, 190px 40px transparent,
      200px 40px transparent, 210px 40px transparent, 10px 50px #5f1405,
      20px 50px #fee085, 30px 50px #5f1405, 40px 50px transparent,
      50px 50px transparent, 60px 50px transparent, 70px 50px transparent,
      80px 50px transparent, 90px 50px transparent, 100px 50px transparent,
      110px 50px transparent, 120px 50px #5f1405, 130px 50px #fee085,
      140px 50px #5f1405, 150px 50px #5f1405, 160px 50px #d14835,
      170px 50px #d14835, 180px 50px #5f1405, 190px 50px transparent,
      200px 50px transparent, 210px 50px transparent, 10px 60px #5f1405,
      20px 60px #fd9132, 30px 60px #5f1405, 40px 60px transparent,
      50px 60px transparent, 60px 60px transparent, 70px 60px transparent,
      80px 60px transparent, 90px 60px transparent, 100px 60px transparent,
      110px 60px transparent, 120px 60px #5f1405, 130px 60px #fd9132,
      140px 60px #d14835, 150px 60px #fd9132, 160px 60px #fd9132,
      170px 60px #fd9132, 180px 60px #5f1405, 190px 60px transparent,
      200px 60px transparent, 210px 60px transparent, 10px 70px #5f1405,
      20px 70px #fee085, 30px 70px #d14835, 40px 70px #5f1405,
      50px 70px transparent, 60px 70px transparent, 70px 70px transparent,
      80px 70px transparent, 90px 70px transparent, 100px 70px transparent,
      110px 70px transparent, 120px 70px #5f1405, 130px 70px #d14835,
      140px 70px #fd9132, 150px 70px #fd9132, 160px 70px #d14835,
      170px 70px #fd9132, 180px 70px #d14835, 190px 70px #5f1405,
      200px 70px #5f1405, 210px 70px transparent, 10px 80px #5f1405,
      20px 80px #d14835, 30px 80px #fd9132, 40px 80px #d14835, 50px 80px #5f1405,
      60px 80px #5f1405, 70px 80px #5f1405, 80px 80px #5f1405, 90px 80px #5f1405,
      100px 80px #5f1405, 110px 80px #5f1405, 120px 80px #d14835,
      130px 80px #fd9132, 140px 80px #fd9132, 150px 80px #fd9132,
      160px 80px #5f1405, 170px 80px #fd9132, 180px 80px #5f1405,
      190px 80px #fd9132, 200px 80px #5f1405, 210px 80px #5f1405,
      10px 90px transparent, 20px 90px #5f1405, 30px 90px #d14835,
      40px 90px #fd9132, 50px 90px #fd9132, 60px 90px #d14835, 70px 90px #fd9132,
      80px 90px #d14835, 90px 90px #fd9132, 100px 90px #d14835,
      110px 90px #5f1405, 120px 90px #d14835, 130px 90px #fd9132,
      140px 90px #fd9132, 150px 90px #d14835, 160px 90px #5f1405,
      170px 90px #fd9132, 180px 90px #5f1405, 190px 90px #d14835,
      200px 90px #5f1405, 210px 90px transparent, 10px 100px transparent,
      20px 100px transparent, 30px 100px #5f1405, 40px 100px #d14835,
      50px 100px #fd9132, 60px 100px #d14835, 70px 100px #fd9132,
      80px 100px #d14835, 90px 100px #fd9132, 100px 100px #5f1405,
      110px 100px #5f1405, 120px 100px #d14835, 130px 100px #fd9132,
      140px 100px #fd9132, 150px 100px #fd9132, 160px 100px #fee085,
      170px 100px #d14835, 180px 100px #fee085, 190px 100px #fd9132,
      200px 100px #5f1405, 210px 100px #5f1405, 10px 110px transparent,
      20px 110px transparent, 30px 110px transparent, 40px 110px #5f1405,
      50px 110px #fd9132, 60px 110px #fd9132, 70px 110px #fd9132,
      80px 110px #fd9132, 90px 110px #fd9132, 100px 110px #fd9132,
      110px 110px #d14835, 120px 110px #5f1405, 130px 110px #d14835,
      140px 110px #fd9132, 150px 110px #fee085, 160px 110px #fee085,
      170px 110px #fd9132, 180px 110px #fee085, 190px 110px #fee085,
      200px 110px #5f1405, 210px 110px transparent, 10px 120px transparent,
      20px 120px transparent, 30px 120px transparent, 40px 120px #5f1405,
      50px 120px #fd9132, 60px 120px #d14835, 70px 120px #fd9132,
      80px 120px #fd9132, 90px 120px #fd9132, 100px 120px #fd9132,
      110px 120px #fd9132, 120px 120px #fd9132, 130px 120px #fd9132,
      140px 120px #d14835, 150px 120px #5f1405, 160px 120px #5f1405,
      170px 120px #5f1405, 180px 120px #5f1405, 190px 120px #5f1405,
      200px 120px transparent, 210px 120px transparent, 10px 130px transparent,
      20px 130px transparent, 30px 130px transparent, 40px 130px #5f1405,
      50px 130px #fd9132, 60px 130px #d14835, 70px 130px #d14835,
      80px 130px #d14835, 90px 130px #d14835, 100px 130px #d14835,
      110px 130px #fd9132, 120px 130px #fd9132, 130px 130px #d14835,
      140px 130px #5f1405, 150px 130px #5f1405, 160px 130px transparent,
      170px 130px transparent, 180px 130px transparent, 190px 130px transparent,
      200px 130px transparent, 210px 130px transparent, 10px 140px transparent,
      20px 140px transparent, 30px 140px transparent, 40px 140px #5f1405,
      50px 140px #fee085, 60px 140px #5f1405, 70px 140px #5f1405,
      80px 140px #5f1405, 90px 140px #5f1405, 100px 140px #5f1405,
      110px 140px #d14835, 120px 140px #fd9132, 130px 140px #5f1405,
      140px 140px #d14835, 150px 140px #5f1405, 160px 140px transparent,
      170px 140px transparent, 180px 140px transparent, 190px 140px transparent,
      200px 140px transparent, 210px 140px transparent, 10px 150px transparent,
      20px 150px transparent, 30px 150px transparent, 40px 150px #5f1405,
      50px 150px #fee085, 60px 150px #5f1405, 70px 150px #d14835,
      80px 150px #5f1405, 90px 150px transparent, 100px 150px transparent,
      110px 150px #5f1405, 120px 150px #fd9132, 130px 150px #5f1405,
      140px 150px #fee085, 150px 150px #5f1405, 160px 150px transparent,
      170px 150px transparent, 180px 150px transparent, 190px 150px transparent,
      200px 150px transparent, 210px 150px transparent, 10px 160px transparent,
      20px 160px transparent, 30px 160px transparent, 40px 160px #5f1405,
      50px 160px #fd9132, 60px 160px #fee085, 70px 160px #5f1405,
      80px 160px #5f1405, 90px 160px transparent, 100px 160px transparent,
      110px 160px #5f1405, 120px 160px #fee085, 130px 160px #5f1405,
      140px 160px #5f1405, 150px 160px transparent, 160px 160px transparent,
      170px 160px transparent, 180px 160px transparent, 190px 160px transparent,
      200px 160px transparent, 210px 160px transparent, 10px 170px transparent,
      20px 170px transparent, 30px 170px transparent, 40px 170px transparent,
      50px 170px #5f1405, 60px 170px #5f1405, 70px 170px #5f1405,
      80px 170px transparent, 90px 170px transparent, 100px 170px transparent,
      110px 170px transparent, 120px 170px #5f1405, 130px 170px #5f1405,
      140px 170px transparent, 150px 170px transparent, 160px 170px transparent,
      170px 170px transparent, 180px 170px transparent, 190px 170px transparent,
      200px 170px transparent, 210px 170px transparent;
  }

  75% {
    box-shadow: 10px 10px transparent, 20px 10px transparent, 30px 10px #5f1405,
      40px 10px #5f1405, 50px 10px transparent, 60px 10px transparent,
      70px 10px transparent, 80px 10px transparent, 90px 10px transparent,
      100px 10px transparent, 110px 10px transparent, 120px 10px transparent,
      130px 10px transparent, 140px 10px transparent, 150px 10px transparent,
      160px 10px transparent, 170px 10px transparent, 180px 10px transparent,
      190px 10px transparent, 200px 10px transparent, 210px 10px transparent,
      10px 20px transparent, 20px 20px #5f1405, 30px 20px #fd9132,
      40px 20px #fee085, 50px 20px #5f1405, 60px 20px transparent,
      70px 20px transparent, 80px 20px transparent, 90px 20px transparent,
      100px 20px transparent, 110px 20px transparent, 120px 20px transparent,
      130px 20px transparent, 140px 20px transparent, 150px 20px transparent,
      160px 20px transparent, 170px 20px #5f1405, 180px 20px #5f1405,
      190px 20px transparent, 200px 20px transparent, 210px 20px transparent,
      10px 30px #5f1405, 20px 30px #fee085, 30px 30px #d14835, 40px 30px #5f1405,
      50px 30px #5f1405, 60px 30px transparent, 70px 30px transparent,
      80px 30px transparent, 90px 30px transparent, 100px 30px transparent,
      110px 30px transparent, 120px 30px #5f1405, 130px 30px #5f1405,
      140px 30px transparent, 150px 30px transparent, 160px 30px #5f1405,
      170px 30px #fee085, 180px 30px #5f1405, 190px 30px transparent,
      200px 30px transparent, 210px 30px transparent, 10px 40px #5f1405,
      20px 40px #fd9132, 30px 40px #5f1405, 40px 40px transparent,
      50px 40px transparent, 60px 40px transparent, 70px 40px transparent,
      80px 40px transparent, 90px 40px transparent, 100px 40px transparent,
      110px 40px transparent, 120px 40px #5f1405, 130px 40px #fee085,
      140px 40px #5f1405, 150px 40px transparent, 160px 40px #5f1405,
      170px 40px #fd9132, 180px 40px #5f1405, 190px 40px transparent,
      200px 40px transparent, 210px 40px transparent, 10px 50px #5f1405,
      20px 50px #fee085, 30px 50px #5f1405, 40px 50px transparent,
      50px 50px transparent, 60px 50px transparent, 70px 50px transparent,
      80px 50px transparent, 90px 50px transparent, 100px 50px transparent,
      110px 50px transparent, 120px 50px #5f1405, 130px 50px #fee085,
      140px 50px #5f1405, 150px 50px #5f1405, 160px 50px #d14835,
      170px 50px #d14835, 180px 50px #5f1405, 190px 50px transparent,
      200px 50px transparent, 210px 50px transparent, 10px 60px #5f1405,
      20px 60px #fd9132, 30px 60px #5f1405, 40px 60px transparent,
      50px 60px transparent, 60px 60px transparent, 70px 60px transparent,
      80px 60px transparent, 90px 60px transparent, 100px 60px transparent,
      110px 60px transparent, 120px 60px #5f1405, 130px 60px #fd9132,
      140px 60px #d14835, 150px 60px #fd9132, 160px 60px #fd9132,
      170px 60px #fd9132, 180px 60px #5f1405, 190px 60px transparent,
      200px 60px transparent, 210px 60px transparent, 10px 70px #5f1405,
      20px 70px #fee085, 30px 70px #d14835, 40px 70px transparent,
      50px 70px transparent, 60px 70px transparent, 70px 70px transparent,
      80px 70px transparent, 90px 70px transparent, 100px 70px transparent,
      110px 70px transparent, 120px 70px #5f1405, 130px 70px #d14835,
      140px 70px #fd9132, 150px 70px #fd9132, 160px 70px #d14835,
      170px 70px #fd9132, 180px 70px #d14835, 190px 70px #5f1405,
      200px 70px #5f1405, 210px 70px transparent, 10px 80px #5f1405,
      20px 80px #d14835, 30px 80px #fd9132, 40px 80px #5f1405, 50px 80px #5f1405,
      60px 80px #5f1405, 70px 80px #5f1405, 80px 80px #5f1405, 90px 80px #5f1405,
      100px 80px #5f1405, 110px 80px #5f1405, 120px 80px #d14835,
      130px 80px #fd9132, 140px 80px #fd9132, 150px 80px #fd9132,
      160px 80px #5f1405, 170px 80px #fd9132, 180px 80px #5f1405,
      190px 80px #fd9132, 200px 80px #5f1405, 210px 80px #5f1405,
      10px 90px transparent, 20px 90px #5f1405, 30px 90px #d14835,
      40px 90px #fd9132, 50px 90px #fd9132, 60px 90px #d14835, 70px 90px #fd9132,
      80px 90px #d14835, 90px 90px #fd9132, 100px 90px #d14835,
      110px 90px #5f1405, 120px 90px #d14835, 130px 90px #fd9132,
      140px 90px #fd9132, 150px 90px #d14835, 160px 90px #5f1405,
      170px 90px #fd9132, 180px 90px #5f1405, 190px 90px #d14835,
      200px 90px #5f1405, 210px 90px transparent, 10px 100px transparent,
      20px 100px transparent, 30px 100px #5f1405, 40px 100px #5f1405,
      50px 100px #fd9132, 60px 100px #d14835, 70px 100px #fd9132,
      80px 100px #d14835, 90px 100px #fd9132, 100px 100px #5f1405,
      110px 100px #5f1405, 120px 100px #d14835, 130px 100px #fd9132,
      140px 100px #fd9132, 150px 100px #fd9132, 160px 100px #fee085,
      170px 100px #d14835, 180px 100px #fee085, 190px 100px #fd9132,
      200px 100px #5f1405, 210px 100px #5f1405, 10px 110px transparent,
      20px 110px transparent, 30px 110px transparent, 40px 110px #5f1405,
      50px 110px #fd9132, 60px 110px #fd9132, 70px 110px #fd9132,
      80px 110px #fd9132, 90px 110px #fd9132, 100px 110px #fd9132,
      110px 110px #d14835, 120px 110px #5f1405, 130px 110px #d14835,
      140px 110px #fd9132, 150px 110px #fee085, 160px 110px #fee085,
      170px 110px #fd9132, 180px 110px #fee085, 190px 110px #fee085,
      200px 110px #5f1405, 210px 110px transparent, 10px 120px transparent,
      20px 120px transparent, 30px 120px transparent, 40px 120px #5f1405,
      50px 120px #fd9132, 60px 120px #d14835, 70px 120px #fd9132,
      80px 120px #fd9132, 90px 120px #fd9132, 100px 120px #fd9132,
      110px 120px #fd9132, 120px 120px #fd9132, 130px 120px #fd9132,
      140px 120px #d14835, 150px 120px #5f1405, 160px 120px #5f1405,
      170px 120px #5f1405, 180px 120px #5f1405, 190px 120px #5f1405,
      200px 120px transparent, 210px 120px transparent, 10px 130px transparent,
      20px 130px transparent, 30px 130px transparent, 40px 130px #5f1405,
      50px 130px #fd9132, 60px 130px #d14835, 70px 130px #d14835,
      80px 130px #d14835, 90px 130px #d14835, 100px 130px #d14835,
      110px 130px #fd9132, 120px 130px #fd9132, 130px 130px #d14835,
      140px 130px #5f1405, 150px 130px #5f1405, 160px 130px transparent,
      170px 130px transparent, 180px 130px transparent, 190px 130px transparent,
      200px 130px transparent, 210px 130px transparent, 10px 140px transparent,
      20px 140px transparent, 30px 140px transparent, 40px 140px #5f1405,
      50px 140px #5f1405, 60px 140px #fd9132, 70px 140px #5f1405,
      80px 140px #5f1405, 90px 140px #5f1405, 100px 140px #5f1405,
      110px 140px #fd9132, 120px 140px #5f1405, 130px 140px #5f1405,
      140px 140px #d14835, 150px 140px #fd9132, 160px 140px #5f1405,
      170px 140px transparent, 180px 140px transparent, 190px 140px transparent,
      200px 140px transparent, 210px 140px transparent, 10px 150px transparent,
      20px 150px transparent, 30px 150px transparent, 40px 150px transparent,
      50px 150px #5f1405, 60px 150px #fd9132, 70px 150px #fee085,
      80px 150px #fee085, 90px 150px #5f1405, 100px 150px #5f1405,
      110px 150px #fee085, 120px 150px #5f1405, 130px 150px transparent,
      140px 150px #5f1405, 150px 150px #5f1405, 160px 150px #5f1405,
      170px 150px transparent, 180px 150px transparent, 190px 150px transparent,
      200px 150px transparent, 210px 150px transparent, 10px 160px transparent,
      20px 160px transparent, 30px 160px transparent, 40px 160px transparent,
      50px 160px transparent, 60px 160px #5f1405, 70px 160px #5f1405,
      80px 160px #5f1405, 90px 160px transparent, 100px 160px #5f1405,
      110px 160px #5f1405, 120px 160px transparent, 130px 160px transparent,
      140px 160px transparent, 150px 160px transparent, 160px 160px transparent,
      170px 160px transparent, 180px 160px transparent, 190px 160px transparent,
      200px 160px transparent, 210px 160px transparent, 10px 170px transparent,
      20px 170px transparent, 30px 170px transparent, 40px 170px transparent,
      50px 170px transparent, 60px 170px transparent, 70px 170px transparent,
      80px 170px transparent, 90px 170px transparent, 100px 170px transparent,
      110px 170px transparent, 120px 170px transparent, 130px 170px transparent,
      140px 170px transparent, 150px 170px transparent, 160px 170px transparent,
      170px 170px transparent, 180px 170px transparent, 190px 170px transparent,
      200px 170px transparent, 210px 170px transparent;
  }
  100% {
    box-shadow: 10px 10px transparent, 20px 10px transparent, 30px 10px #5f1405,
      40px 10px #5f1405, 50px 10px transparent, 60px 10px transparent,
      70px 10px transparent, 80px 10px transparent, 90px 10px transparent,
      100px 10px transparent, 110px 10px transparent, 120px 10px transparent,
      130px 10px transparent, 140px 10px transparent, 150px 10px transparent,
      160px 10px transparent, 170px 10px transparent, 180px 10px transparent,
      190px 10px transparent, 200px 10px transparent, 210px 10px transparent,
      10px 20px transparent, 20px 20px #5f1405, 30px 20px #fd9132,
      40px 20px #fee085, 50px 20px #5f1405, 60px 20px transparent,
      70px 20px transparent, 80px 20px transparent, 90px 20px transparent,
      100px 20px transparent, 110px 20px transparent, 120px 20px transparent,
      130px 20px transparent, 140px 20px transparent, 150px 20px transparent,
      160px 20px transparent, 170px 20px #5f1405, 180px 20px #5f1405,
      190px 20px transparent, 200px 20px transparent, 210px 20px transparent,
      10px 30px #5f1405, 20px 30px #fee085, 30px 30px #d14835, 40px 30px #5f1405,
      50px 30px #5f1405, 60px 30px transparent, 70px 30px transparent,
      80px 30px transparent, 90px 30px transparent, 100px 30px transparent,
      110px 30px transparent, 120px 30px #5f1405, 130px 30px #5f1405,
      140px 30px transparent, 150px 30px transparent, 160px 30px #5f1405,
      170px 30px #fee085, 180px 30px #5f1405, 190px 30px transparent,
      200px 30px transparent, 210px 30px transparent, 10px 40px #5f1405,
      20px 40px #fd9132, 30px 40px #5f1405, 40px 40px transparent,
      50px 40px transparent, 60px 40px transparent, 70px 40px transparent,
      80px 40px transparent, 90px 40px transparent, 100px 40px transparent,
      110px 40px transparent, 120px 40px #5f1405, 130px 40px #fee085,
      140px 40px #5f1405, 150px 40px transparent, 160px 40px #5f1405,
      170px 40px #fd9132, 180px 40px #5f1405, 190px 40px transparent,
      200px 40px transparent, 210px 40px transparent, 10px 50px #5f1405,
      20px 50px #fee085, 30px 50px #5f1405, 40px 50px transparent,
      50px 50px transparent, 60px 50px transparent, 70px 50px transparent,
      80px 50px transparent, 90px 50px transparent, 100px 50px transparent,
      110px 50px transparent, 120px 50px #5f1405, 130px 50px #fee085,
      140px 50px #5f1405, 150px 50px #5f1405, 160px 50px #d14835,
      170px 50px #d14835, 180px 50px #5f1405, 190px 50px transparent,
      200px 50px transparent, 210px 50px transparent, 10px 60px #5f1405,
      20px 60px #fd9132, 30px 60px #5f1405, 40px 60px transparent,
      50px 60px transparent, 60px 60px transparent, 70px 60px transparent,
      80px 60px transparent, 90px 60px transparent, 100px 60px transparent,
      110px 60px transparent, 120px 60px #5f1405, 130px 60px #fd9132,
      140px 60px #d14835, 150px 60px #fd9132, 160px 60px #fd9132,
      170px 60px #fd9132, 180px 60px #5f1405, 190px 60px transparent,
      200px 60px transparent, 210px 60px transparent, 10px 70px #5f1405,
      20px 70px #fee085, 30px 70px #d14835, 40px 70px #5f1405,
      50px 70px transparent, 60px 70px transparent, 70px 70px transparent,
      80px 70px transparent, 90px 70px transparent, 100px 70px transparent,
      110px 70px transparent, 120px 70px #5f1405, 130px 70px #d14835,
      140px 70px #fd9132, 150px 70px #fd9132, 160px 70px #d14835,
      170px 70px #fd9132, 180px 70px #d14835, 190px 70px #5f1405,
      200px 70px #5f1405, 210px 70px transparent, 10px 80px #5f1405,
      20px 80px #d14835, 30px 80px #fd9132, 40px 80px #d14835, 50px 80px #5f1405,
      60px 80px #5f1405, 70px 80px #5f1405, 80px 80px #5f1405, 90px 80px #5f1405,
      100px 80px #5f1405, 110px 80px #5f1405, 120px 80px #d14835,
      130px 80px #fd9132, 140px 80px #fd9132, 150px 80px #fd9132,
      160px 80px #5f1405, 170px 80px #fd9132, 180px 80px #5f1405,
      190px 80px #fd9132, 200px 80px #5f1405, 210px 80px #5f1405,
      10px 90px transparent, 20px 90px #5f1405, 30px 90px #d14835,
      40px 90px #fd9132, 50px 90px #fd9132, 60px 90px #d14835, 70px 90px #fd9132,
      80px 90px #d14835, 90px 90px #fd9132, 100px 90px #d14835,
      110px 90px #5f1405, 120px 90px #d14835, 130px 90px #fd9132,
      140px 90px #fd9132, 150px 90px #d14835, 160px 90px #5f1405,
      170px 90px #fd9132, 180px 90px #5f1405, 190px 90px #d14835,
      200px 90px #5f1405, 210px 90px transparent, 10px 100px transparent,
      20px 100px transparent, 30px 100px #5f1405, 40px 100px #d14835,
      50px 100px #fd9132, 60px 100px #d14835, 70px 100px #fd9132,
      80px 100px #d14835, 90px 100px #fd9132, 100px 100px #5f1405,
      110px 100px #5f1405, 120px 100px #d14835, 130px 100px #fd9132,
      140px 100px #fd9132, 150px 100px #fd9132, 160px 100px #fee085,
      170px 100px #d14835, 180px 100px #fee085, 190px 100px #fd9132,
      200px 100px #5f1405, 210px 100px #5f1405, 10px 110px transparent,
      20px 110px transparent, 30px 110px transparent, 40px 110px #5f1405,
      50px 110px #fd9132, 60px 110px #fd9132, 70px 110px #fd9132,
      80px 110px #fd9132, 90px 110px #fd9132, 100px 110px #fd9132,
      110px 110px #d14835, 120px 110px #5f1405, 130px 110px #d14835,
      140px 110px #fd9132, 150px 110px #fee085, 160px 110px #fee085,
      170px 110px #fd9132, 180px 110px #fee085, 190px 110px #fee085,
      200px 110px #5f1405, 210px 110px transparent, 10px 120px transparent,
      20px 120px transparent, 30px 120px transparent, 40px 120px #5f1405,
      50px 120px #fd9132, 60px 120px #d14835, 70px 120px #fd9132,
      80px 120px #fd9132, 90px 120px #fd9132, 100px 120px #fd9132,
      110px 120px #fd9132, 120px 120px #fd9132, 130px 120px #fd9132,
      140px 120px #d14835, 150px 120px #5f1405, 160px 120px #5f1405,
      170px 120px #5f1405, 180px 120px #5f1405, 190px 120px #5f1405,
      200px 120px transparent, 210px 120px transparent, 10px 130px transparent,
      20px 130px transparent, 30px 130px transparent, 40px 130px #5f1405,
      50px 130px #fd9132, 60px 130px #d14835, 70px 130px #d14835,
      80px 130px #d14835, 90px 130px #d14835, 100px 130px #d14835,
      110px 130px #fd9132, 120px 130px #fd9132, 130px 130px #d14835,
      140px 130px #5f1405, 150px 130px #5f1405, 160px 130px transparent,
      170px 130px transparent, 180px 130px transparent, 190px 130px transparent,
      200px 130px transparent, 210px 130px transparent, 10px 140px transparent,
      20px 140px transparent, 30px 140px transparent, 40px 140px #5f1405,
      50px 140px #fee085, 60px 140px #5f1405, 70px 140px #5f1405,
      80px 140px #5f1405, 90px 140px #5f1405, 100px 140px #5f1405,
      110px 140px #d14835, 120px 140px #fd9132, 130px 140px #5f1405,
      140px 140px #d14835, 150px 140px #5f1405, 160px 140px transparent,
      170px 140px transparent, 180px 140px transparent, 190px 140px transparent,
      200px 140px transparent, 210px 140px transparent, 10px 150px transparent,
      20px 150px transparent, 30px 150px transparent, 40px 150px #5f1405,
      50px 150px #fee085, 60px 150px #5f1405, 70px 150px #d14835,
      80px 150px #5f1405, 90px 150px transparent, 100px 150px transparent,
      110px 150px #5f1405, 120px 150px #fd9132, 130px 150px #5f1405,
      140px 150px #fee085, 150px 150px #5f1405, 160px 150px transparent,
      170px 150px transparent, 180px 150px transparent, 190px 150px transparent,
      200px 150px transparent, 210px 150px transparent, 10px 160px transparent,
      20px 160px transparent, 30px 160px transparent, 40px 160px #5f1405,
      50px 160px #fd9132, 60px 160px #fee085, 70px 160px #5f1405,
      80px 160px #5f1405, 90px 160px transparent, 100px 160px transparent,
      110px 160px #5f1405, 120px 160px #fee085, 130px 160px #5f1405,
      140px 160px #5f1405, 150px 160px transparent, 160px 160px transparent,
      170px 160px transparent, 180px 160px transparent, 190px 160px transparent,
      200px 160px transparent, 210px 160px transparent, 10px 170px transparent,
      20px 170px transparent, 30px 170px transparent, 40px 170px transparent,
      50px 170px #5f1405, 60px 170px #5f1405, 70px 170px #5f1405,
      80px 170px transparent, 90px 170px transparent, 100px 170px transparent,
      110px 170px transparent, 120px 170px #5f1405, 130px 170px #5f1405,
      140px 170px transparent, 150px 170px transparent, 160px 170px transparent,
      170px 170px transparent, 180px 170px transparent, 190px 170px transparent,
      200px 170px transparent, 210px 170px transparent;
  }
}
